.Weather-app {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.Weather-app input {
  background: linear-gradient(
    180deg,
    rgba(46, 51, 90, 1) -4.68%,
    rgba(28, 27, 51, 1) 95.45%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(28, 27, 51, 1);
  border-radius: 10px;
  width: 358px;
  height: 46px;
  padding: 7px 8px;
  margin: 60px 16px;
  color: #e0d9ff;
  font-size: 20px;
}

.Weather-app input::placeholder {
  color: #e0d9ff;
}

.Weather-app .city {
  font-weight: 400;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.374px;
  margin-bottom: 12px;
}
.Weather-app .temperature {
  font-size: 96px;
  line-height: 70px;
  letter-spacing: 0.374px;
  margin-bottom: 12px;
}
.Weather-app .main {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  color: rgba(235, 235, 245, 0.6);
}
.Weather-app .temp-h-l {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.Weather-app .min-temp {
  margin-left: 18px;
}

.Weather-app .forecast {
  width: 60px;
  height: 146px;
  background: rgba(72, 49, 157, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25), inset 1px 1px 0px #ffffff;
  border-radius: 30px;
}

.Weather-app .icon {
  width: 120px;
}

@media (max-width: 560px) {
  .All {
    width: 100%;
    margin: 0;
  }
}
